body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  cursor: pointer;
  text-decoration: underline;
}

ul {
  list-style:none;
}

.u-flex {
  display: flex;
}

.u-pa4 {
  padding: 4px;
}